* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
}                               

@font-face {
    font-family: 'Fraunces';
    src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces2';
    src: url(/starter-code/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Manrope';
    src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf) format('truetype');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}



.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

:root {
  --green: #44FFA1;
  --purple900: #240533;
  --purple500: #584d62;
  --purple100: #fcf8ff;
  --white: #ffffff;
}  


.header{
    width: 100%;
    height:91px ;
    background-color: var(--purple900);
    display: flex;
}
.navbar{
    display: flex;
    max-width: 1120px;
    width: 100%;
    justify-content:  space-between;
    align-items: center;
    height: 35px;
    margin: 0 auto;
    margin-top:50px;
}

.navbar a {
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    font-family: 'Manrope',sans-serif;
    font-weight: bold;
    border-bottom: 4px solid var(--green);
    padding-bottom: 4px;
}


.logo{
    display: flex;
    align-items: center;
    height: 35px;
}
.logo img{
    height: 90%;
    width: auto;
}

.hero{
    background-color: var(--purple900);
    position: relative;
    height: 608px;
}

.container-hero{
    display: flex;
    flex-direction: column;
    width:635px;
    height: 256px;
    margin: 0 auto;
    padding-top: 80px;
}

.container-hero h1{
    text-align: center;
    font-family: 'Fraunces2', sans-serif;
    font-weight: normal;
    font-size: 80px;
    color: var(--white);
}

.container-hero h1 span{
    border-bottom: 4px solid var(--green);
}

.btn-hero{
    margin: 40px auto 0;
    padding: 16px 32px;
    background-color: var(--green);
    color: var(--purple900);
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.Whirlpool{
    position: absolute;
    top: 30px;
    left: -60px;
}
.Whirlpool2{
    position: absolute;
    top: 250px;
    right:-10px
}
.imagen-hero{
    position: absolute;
    top: 440px;        
    left: 50%;
    transform: translateX(-50%);
    width: 737px;
}
.imagen-hero img{
    width: 100%;
}

.ornamental {
    position: absolute;
    width: 100%;
    top: 605px;
}

.ornamental svg {
    width: 100%;
    height: 180px;   /* 👈 más altura = más panza */
    display: block;
}

/****************VALUES**********************/
.value{
    width: 100%;
    height: 310px;
    margin-top: 380px;
    background-color: var(--purple100);
}
.container-value{
    width: 1120px;
    height: 306px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin: 0 auto;
    align-items:center;
    justify-content: space-between;
    background-color: var(--purple100);
}
.value-content{
    width: 314px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    color: var(--purple900);
}
.values-number{
    width: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.values-number span{
    font-family: 'Fraunces2',sans-serif;
    font-size:2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--purple900);
    width: 56px;
    height: 56px;
    font-weight: 600;
}
.value-content h2{
    font-family: 'Fraunces2',sans-serif;
    font-size:2rem;
}
.value-content p{
    font-family: 'Fraunces',sans-serif;
    font-size:15px;
    text-align: center;
    font-weight: normal;
}
.value .ornamental{
    position: absolute;
    width: 100%;
    top:1380px;
}

/*****************COUNT******************/
.count{
    width: 100%;
    height: 691px;
    margin-top: 160px;
}
.container-count{
    display: flex;
    width: 1120px;
    height: 579px;
    margin: 0 auto;
    position: relative;
    align-items: flex-start;
}
.photo-count{
    width: 447px;
    height: 579px;
}
.photo-count img{
    width: 100%;
}
.count-content{
    display: flex;
    position:absolute;
    bottom: 50px;
    right: 10px;
    width: 730px;
    padding: 30px;
    height: 350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background-color: var(--purple900);
}

.count-content h2{
    font-family: 'Fraunces2',sans-serif;
    font-size: 56px;
    color: var(--white);
}
.count-content p{
    font-family: 'Manrope',sans-serif;
    font-size:21px;
    color: var(--white);
    font-weight: lighter;
}
.btn-count{
    padding: 16px 32px;
    background-color: var(--green);
    color: var(--purple900);
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.Whirlpool3{
    position: absolute;
    top: 210px;
    left: 420px;
}

.count-content button {
    align-self: flex-start;
}

/********************FOOTER*********/
footer{
    width: 100%;
    height: 324px;
}
.container-footer{
    display: flex;
    width: 116px;
    height: 101px;
    margin: 0 auto ;
    flex-direction: column;
    justify-content:  space-between;
}
.footer-logo{
    width: 96px;
    height: 25px;
}
.footer-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}
@media (max-width:768px )  {
    .navbar{
        display: flex;
        max-width: 90%;
        justify-content:  space-between;
        align-items: center;
        height: 35px;
        margin: 0 auto;
        margin-top:50px;
    }
    .Whirlpool{
    position: absolute;
    top: -10px;
    left: -210px;
}
    .Whirlpool2{
        position: absolute;
        top: 200px;
        right:-90px
    }
    .hero{
        height: 377px;
    }
    .container-hero{
        width:435px;
        padding-top: 50px;
    }
    .container-hero h1{
        font-size: 55px;
    }
    .imagen-hero{
        position: absolute;
        top: 350px;        
        left: 50%;
        transform: translateX(-50%);
        width: 420px;
    }
    .ornamental {
        position: absolute;
        width: 100%;
        top: 377px;
    }
    .value{
       margin-top: 250px;
       height: auto;
       padding-bottom: 80px;
       height: 676px;
    }
    .container-value{
        width: 100%;
        height: auto;
        display: flex;
        gap: 10px;
        flex-direction:column;
        margin: 0 auto;
        align-items:flex-start;
        background-color: red;
    }
    .values{
        display: flex;
        gap: 10px;
        flex-direction:row;
        background-color: green;
    }
    .values .values-number{
        display: flex;
        justify-content: center;
    }
    .values .values-content{
        display: flex;
        justify-content: space-between;
    }

}



@media (max-width:520px)  {
    .Whirlpool, .Whirlpool2{
        display: none;
    }
    .navbar{
        display: flex;
        max-width: 90%;
        justify-content:  space-between;
        align-items: center;
        height: 35px;
        margin: 0 auto;
        margin-top:50px;
    }
    .hero{
        padding: 0px;
        height: 481px;
    }
    .container-hero{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 397px;
        margin: 0 auto;
    }    
    .container-hero h1{
        text-align: center;
        font-family: 'Fraunces2', sans-serif;
        font-weight: normal;
        font-size: 60px;
        color: var(--white);
    }
    .imagen-hero{
        position: absolute;
        top: 440px;        
        left: 50%;
        transform: translateX(-50%);
        width: 360px;
    }
    .ornamental {
        position: absolute;
        width: 100%;
        top: 480px;
    }
    .value{
       margin-top: 180px;
       height: auto;
       padding-bottom: 80px;
    }
    .value .ornamental{
        margin-top: 219px;
        height: auto;
        padding-bottom: 80px;
    }

    .container-value{
        width: 100%;
        height: auto;
        display: flex;
        gap: 50px;
        flex-direction:column;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
    }
    .count{
       margin-top: 110px;
       height: auto;
       width: 100%;
       position: relative;
       margin-bottom: 110px;
    }    
    .container-count{
        height: 625px;
        width: 335px;
        display: flex;
        margin: 0 auto;
    }
    .count-content{
        margin-top: 260px;
        height: 400px;
        width: 410px;
        position: absolute;
        bottom: -50px;
        left: -40px;      
        text-align: center; 
        align-items: center;
    }    
    .count-content h2{
        font-family: 'Fraunces2',sans-serif;
        font-size: 40px;
        color: var(--white);
    }

    .count-content button {
        align-self:center;
    }

    footer{
        width: 100%;
        height: 200px;
    }

}

