* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
}                               

@font-face {
    font-family: 'Fraunces';
    src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces2';
    src: url(/starter-code/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Manrope';
    src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf) format('truetype');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}



.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

:root {
  --green: #44FFA1;
  --purple900: #240533;
  --purple500: #584d62;
  --purple100: #fcf8ff;
  --white: #ffffff;
}  


.header{
    width: 100%;
    height:91px ;
    background-color: var(--purple900);
    display: flex;
}
.navbar{
    display: flex;
    max-width: 1120px;
    width: 100%;
    justify-content:  space-between;
    align-items: center;
    height: 35px;
    margin: 0 auto;
    margin-top:50px;
}

.navbar a {
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    font-family: 'Manrope',sans-serif;
    font-weight: bold;
    border-bottom: 4px solid var(--green);
    padding-bottom: 4px;
}


.logo{
    display: flex;
    align-items: center;
    height: 35px;
}
.logo img{
    height: 90%;
    width: auto;
}

.hero{
    background-color: var(--purple900);
    position: relative;
    height: 771px;
}

.container-hero{
    display: flex;
    flex-direction: column;
    width:635px;
    height: 256px;
    margin: 0 auto;
}

.container-hero h1{
    text-align: center;
    font-family: 'Fraunces2', sans-serif;
    font-weight: normal;
    font-size: 80px;
    color: var(--white);
}

.container-hero h1 span{
    border-bottom: 4px solid var(--green);
}

.btn-hero{
    margin: 40px auto 0;
    padding: 16px 32px;
    background-color: var(--green);
    color: var(--purple900);
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.Whirlpool{
    position: absolute;
    top: 30px;
    left: -60px;
}
.Whirlpool2{
    position: absolute;
    top: 250px;
    right:-10px
}